.CFUserTextEncoding
.cups/
.dropbox/
.gitignore_global
.hgignore_global
.Trash/
.bash_history
.ssh/
.vim/
.viminfo
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/

.bash*